html{
  background: url(../images/concrete_wall_2.png);
}
body{
  width: 960px;
  margin: 0 auto;
  font-family: Verdana, Geneva, sans-serif;
  background-color: rgba(250,245,255,0.5);
  box-shadow: 0px 0px 35px 0px #CCC;
  border-radius: 6px;
  clear: both;
}
.clearfix{
  clear: both;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Federo', sans-serif;
}


#header h1{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#header ul{
  text-align: center;
  margin-bottom: 5px;
}
#header ul li{
  list-style: none;
  margin-right: 15px;
  display: inline;
}
a{
  color: black;
  border-bottom: 1px dotted black;
  text-decoration: none;
}
a:hover{
  color: #B80;
  border-bottom: 1px dotted #B80;
}
dl{
  display: block;
  background:url(../images/info_bg.png) no-repeat 0 0;
  border-radius: 10px;
}
dt{
  float: left;
  width: 170px;
  text-align: right;
  margin-right: 10px;
}
.artist{
  font-size: 3em;
}
.track{
  font-size: 1.5em;
}
.album{
  font-size: 2em;
}
#djs{
  height: 45px;
}
#djs ul{
  text-align: center;
  background:url(../images/bottom.png) no-repeat 50% bottom;
  height: 45px;
}
#djs ul li{
  display: inline;
  list-style: none;
  margin-right: 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
#container{
  float: left;
}
#leftBox, #rightBox{
float: left;
}
#leftBox{
  width: 300px;
  margin-right: 9px;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

#leftBox ol{
  list-style: none;
}
#leftBox #upvotedArtists h2{
  margin-top: 0px;
}
#rightBox{
  width: 600px;
  padding: 0 10px;
}
#current, #djs{
  margin-top; 20px;
  padding: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;

}
#current{
  margin-left: 10px;
}
#current h2, #djs h2{
  margin-top: 0px;
}
.currentLabel{
  font-weight: bold;
}
#topArtists li{
}
#latest_tracks{
  font-size: 0.8em;
}

#artistHead{
  text-align: center;
}


#tracks ul, ul.links{
  list-style: none;
  padding-left: 0;
}
ul.links li{
  margin-bottom: 5px;
  font-size: 20px;
}
#tracks ul li{
  margin-bottom: 10px;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
#content{
  padding: 20px;
}
#callouts{
  font-size: 12px;
  margin-top: 50px;
}
#callouts a{
  margin-right: 10px;
}
