html{
  background: url(../images/concrete_wall_2.png);
}
body{
  width: 960px;
  margin: 0 auto;
  color: #4f6b72;
  font-family: 'Lucida Sans Unicode', "Lucida Grande", sans-serif;
  clear: both;
}
.clearfix{
  clear: both;
}
ol, ul{
  list-style: none;
  margin: 0 0 0.6em 0;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1;
  margin: 0 0 0.6em 0;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
}
h1{
  font-size: 2.25em;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 1.25em;
}
h4{
  font-size: 1.125em;
}
.group:after{
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
li{
  list-style: none;
}
table{
  width: 100%;
  margin: 0 auto 15px;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 16px;
}
th{
  color: #797268;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-align: left;
  padding: 6px;
  font-weight: bold;
}
td{
  padding: 6px;
  vertical-align: middle;
}
#header{
  margin: 30px 0 50px 0;
}
#header h1{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#header ul{
  text-align: center;
  margin-bottom: 5px;
}
#header ul li{
  list-style: none;
  margin-right: 15px;
  display: inline;
}
a{
  color: black;
  border-bottom: 1px dotted black;
  text-decoration: none;
}
a:hover{
  color: #B80;
  border-bottom: 1px dotted #B80;
}
dl{
  display: block;
  line-height: 1.25;
}
dl a{
  color: #4f6b72;
  border-bottom: 0;

}
dt{
  float: left;
  width: 148px;
  text-align: right;
  margin-right: 10px;
}
.artist{
  font-size: 3em;
}
.track{
  font-size: 1.5em;
}
.album{
  font-size: 2em;
}
#djs ul li{
  display: block;
  padding: 10px;
  float: left;
  line-height: 60px;
  font-weight: bold;
  font-size: 20px;
}
div.stats{
  float: left;
  width: 300px;
  margin-right: 10px;
  height: 400px;
}
#container{
  float: left;
  width: 960px;
}
#leftBox, #rightBox{
float: left;
}
#leftBox{
  width: 300px;
  margin-right: 9px;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

#leftBox ol{
  list-style: none;
}
#leftBox #upvotedArtists h2{
  margin-top: 0px;
}
#rightBox{
  width: 600px;
  padding: 0 10px;
}
#current, #djs{
  margin-top; 20px;
  padding: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;

}
#current{
  padding: 10px 10px 10px 0;
  position: relative;
  margin: 0 0 1em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#current h2{
  position: absolute;
  top: -13px;
  padding-right: 8px;
  background: url(../images/concrete_wall_2.png);
}
#djs h2{
  margin-top: 0px;
}
.currentLabel{
  font-weight: bold;
}
#topArtists li{
}
#latest_tracks{
  font-size: 0.8em;
  margin-bottom: 30px;
}
#latest_tracks h1{
  text-align: center;
}
#latest_tracks tr:nth-child(odd){
  background: rgba(255, 255, 255, 0.6);
  color: #797268;
}

#artistHead{
  text-align: center;
}


#tracks ul, ul.links{
  list-style: none;
  padding-left: 0;
}
ul.links li{
  margin-bottom: 5px;
  font-size: 20px;
}
#tracks ul li{
  margin-bottom: 10px;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
#content{
  padding: 20px;
}
#callouts{
  font-size: 12px;
  margin-top: 50px;
}
#callouts a{
  margin-right: 10px;
}
#index h2{
  text-align: center;
}
#index ul{
  width: 800px;
  margin: 10px auto;
}
#index ul li{
  display: inline-block;
  width: 160px;
  font-size: 10px;
}
#tracks .meta{
  font-size: 10px;
}
#tracks .meta div{
  display: inline;
}
#tracks .trackname{
  font-weight: bold;
}
#djHead{
  text-align: center;
}
