body{
  background: url(../images/concrete_wall_2.png);
}

#header{
  width: 200px;
  background: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px 20px 20px 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
#current, #djs{
  margin-top; 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  padding: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;

}
#djs{
  margin-top: 20px;
}
#djs span{
  margin-bottom: 2px;
  display: block;
  font-size: 15px;
}
#current h2, #djs h2{
  margin-top: 0px;
}
.currentLabel{
  font-weight: bold;
}
