html{
  background: url(../images/concrete_wall_2.png);
}
body{
  width: 960px;
  margin: 0 auto;
  font-family: 'Federo', sans-serif;
  background-color: rgba(250,245,255,0.5);
  box-shadow: 0px 0px 35px 0px #CB0;
  clear: both;
}
.clearfix{
  clear: both;
}

#header h1{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#header ul{
  text-align: center; 
}
#header ul li{
  list-style: none;
  margin-right: 15px;
  display: inline;
}
#header ul li a{
  color: black;
  border-bottom: 1px dotted black;
  text-decoration: none;
}
#header ul li a:hover{
  color: #B80;
  border-bottom: 1px dotted #B80;
}
#djs{
  margin-bottom: 20px;
}
#djs ul{
  text-align: center;
}
#djs ul li{
  display: inline;
  list-style: none;
  margin-right: 25px;
  font-weight: bold;
  font-size: 20px;
}
#container{
  margin-top: 20px;
  float: left;
}
#leftBox, #rightBox{
float: left;
}
#leftBox{
  width: 300px;
  margin-right: 9px;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

#leftBox ol{
  list-style: none;
}
#leftBox #upvotedArtists h2{
  margin-top: 0px;
}
#rightBox{
  width: 600px;
  padding: 0 10px;
}
#current, #djs{
  margin-top; 20px;
  padding: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;

}
#djs{
  margin-top: 20px;
}
#djs span{
  margin-bottom: 2px;
  display: block;
  font-size: 15px;
}
#current h2, #djs h2{
  margin-top: 0px;
}
.currentLabel{
  font-weight: bold;
}
#topArtists li{
}
